
## **Exercícios Python- Seção04**

**1.** Faça um programa que leia um número inteiro e o imprima.

In [ ]:
try:
  integer = int(input('Digite um número inteiro qualquer: '))
  print(f'O número inteiro digitado foi {integer}')
except:
  print('Sua entrada foi invalida!')

**2.** Faça um programa que leia um número real e o imprima.

In [ ]:
try:
  real = float(input('Digite um número real qualquer: '))
  print(f'O número real digitado foi {real}')
except:
  print('Sua entrada foi invalida!')

**3.** Peça o usuário para digitar três valores inteiros e imprima a soma deles.

In [ ]:
try:
  var_um = int(input('Digite um número inteiro qualquer: '))
  var_dois = int(input('Digite um número inteiro qualquer: '))
  var_tres = int(input('Digite um número inteiro qualquer: '))

  soma = var_um + var_dois + var_tres
  print(f'A soma desses números eh: {soma}')
except:
  print('Sua entrada foi invalida!')

**4.** Leia um número real e imprima o resultado do quadrado desse número.

In [ ]:
real = float(input('Digite um número real qualquer: '))
quadrado = real ** 2

print(f'O quadrado do número {real} eh: {quadrado}')

**5.** Leia um número real e imprima a quinta parte desse número.

In [ ]:
real = float(input('Digite um número real qualquer: '))
real = real / 5
print(f'A quinta parte do número digitado eh: {real}')

**6.** Leia uma temperatura em graus Celsius e apresente-a convertida em graus Fahrenheit.

In [ ]:
real = float(input('Digite a temperatura em graus Celsius: '))
f = real * (9.0/5.0) + 32.0

print(f'A temperatura convertida para Fahrenheit eh: {f}')

**7.** Leia uma temperatura em Fahrenheit e apresente-a convertida em graus Celsius.

In [ ]:
real = float(input('Digite a temperatura em graus Fahrenheit: '))
c = 5.0 * (real - 32.0)/9.0

print(f'A temperatura convertida para Celsius eh: {c}')

**8.** Leia uma temperatura em Kelvin e apresente-a convertida em graus Celsius.

In [ ]:
real = float(input('Digite a temperatura em graus Kelvin: '))
c = real - 273.15

print(f'A temperatura convertida para Celsius eh: {c}')

**9.** Leia uma temperatura em graus Celsius e apresente-a convertida em graus Kelvin.

In [ ]:
real = float(input('Digite a temperatura em graus Celsius: '))
k = real + 273.15

print(f'A temperatura convertida para Fahrenheit eh: {k}')

**10.** Leia uma velocidade em km/h e apresente-a convertida em m/s.

In [ ]:
real = float(input('Digite a velocidade (km/h): '))
real = real / 3.6

print(f'A sua velocidade convertida para m/s eh: {real}')

**11.** Leia uma velocidade em m/s e apresente-a convertida em km/h.

In [ ]:
real = float(input('Digite a velocidade (m/s): '))
real = real * 3.6

print(f'A sua velocidade convertida para km/h eh: {real}')

**12.** Leia uma distância em milhas e apresente-a convertida em quilômetros.

In [ ]:
real = float(input('Digite a distância em milhas: '))
real = 1.61 * real

print(f'A sua distância convertida para quilômetrso eh: {real}')

**13.** Leia uma distância em quilômetros e apresente-a convertida em milhas.

In [ ]:
real = float(input('Digite a distância em quilômetros: '))
real = real / 1.61

print(f'A sua distância convertida para milhas eh: {real}')

**14.** Leia um ângulo em graus e apresente-a convertida em radianos.

In [ ]:
real = float(input('Digite o ângulo em graus: '))
radius = real * 3.14/180

print(f'Seu ângulo em radianos eh: {radius}')

**15.** Leia um ângulo em radianos e apresente-a convertida em graus.

In [ ]:
real = float(input('Digite o ângulo em graus: '))
graus = real * 180/3.14

print(f'Seu ângulo em radianos eh: {graus}')

**16.** Leia um valor no comprimento de uma polegada e apresente-o convertido em centímetros.

In [ ]:
real = float(input('Digite o comprimento em polegadas: '))
c = real * 2.54

print(f'O comprimento em centimetros eh: {c}')

**17.** Leia um valor de comprimento em centimetros e apresente-o convertido em polegadas.

In [ ]:
real = float(input('Digite o comprimento em centimetros: '))
p = real / 2.54

print(f'O comprimento em polegadas eh: {p}')

**18.** Leia um valor de volume em metros cúbicos m³ e apresente-o convertido em litros.

In [ ]:
real = float(input('Digite o valor em metros cúbicos: '))
l = 1000 * real

print(f'O valor em litros eh: {l}')

**19.** Leia um valor de volume em litros e apresente-o convertido em metros cúbicos m³.

In [ ]:
real = float(input('Digite o valor em litros: '))
m = real / 1000

print(f'O valor em metros cúbicos eh: {m}')

**20.** Leia um valor de massa em quilogramas e apresente-o convertido em libras.

In [ ]:
real = float(input('Digie o valor dos quilos: '))
l = real / 0.45

print(f'O valor convertido para libras eh: {l}')

**21.** Leia um valor de massa em libras e apresente-o convertido em quilogramas.

In [ ]:
real = float(input('Digite o valor das libras: '))
k = real * 0.45

print(f'O valor convertido para quilogramas eh: {k}')

**22.** Lea um valaor de comprimento em jardas e apresente-o convertido em metros.

In [ ]:
real = float(input('Digite o valor em jardas: '))
m = 0.91 * real

print(f'O valor convertido para metros eh: {m}')

**23.** Leia um valor de comprimento em metros e apresente-o convertido em jardas.

In [ ]:
real = float(input('Digite o valor em metros: '))
j = real / 0.91

print(f'O valor convertido para jardas eh: {j}')

**24.** Leia um valor de área em metros quadrados m² e apresente-o convertido em acres.

In [ ]:
real = float(input('Digite ovalor em metros quadrados: '))
a = real * 0.000247

print(f'O valor convertido para acres eh: {a}')

**25.** Leia um valor de área em acres e apresente-o convertido em metros quadrados m².

In [ ]:
real = float(input('Digite o valor em acres: '))
m = real * 4048.58

print(f'O valor convertido para metros quadrados eh: {m}')

**26.** Leia um valor em metros quadrados m² e apresente-o convetido em hectares.

In [ ]:
real = float(input('Digite o valor em metros quadrados: '))
h = real * 0.0001

print(f'O valor convertido para hectares eh: {h}')

**27.** Leia um valor de área em hectares e apresente-o convertido em metros quadrados m².

In [ ]:
real = float(input('Digite o valor em hectares: '))
m = real * 10000

print(f'O valor convertido para metros quadrados eh: {m}')

**28.** Faça a leitura de três valores e apresente como resultado a soma dos quadrados dos três valores lidos.

In [ ]:
value_1 = float(input('Digite o primeiro valor: '))
value_2 = float(input('Digite o segundo valor: '))
value_3 = float(input('Digite o terceiro valor: '))

soma = (value_1 ** 2) + (value_2 ** 2) + (value_3 ** 2)

print(f'A soma eh: {soma}')

**29.** Leia quatro notas, calcule a média aritmética e imprima o resultado.

In [ ]:
value_1 = float(input('Primeira nota: '))
value_2 = float(input('Segunda nota: '))
value_3 = float(input('Terceira nota: '))
value_4 = float(input('Quarta nota: '))

media = (value_1 + value_2 + value_3 + value_4) / 4

print(f'A media aritmética eh: {media}')

**30.** Leia um valor em real e a cotação do dólar. Em seguida, imprima o valor correspondente em dólares.

In [ ]:
real = float(input('Digite o valor em real: '))
dolar = float(input('Digite a cotação atual: '))

dolar = real / dolar

print(f'O valor em dolares eh: {dolar}')